body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    height: 100vh;
    margin: 0;
}

.header > span {
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
}

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px 20px 140px;
    flex: 1;
}

.navigation {
    display: flex;
    gap: 20px;
    flex: 0 0 auto;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    background-color: #1f2937;
    width: auto;
    padding: 90px 140px;
    gap: 50px;
}

.hero-left {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    min-width: 460px;
    min-height: 250px;
    gap: 7px;
}

.hero-title {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}

.hero-content {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
    height: auto;
    margin: -6px 0;
}

.hero-right {
    display: flex;
    flex: 0 0 auto;
    height: 240px;
    width: 500px;
    background-color: #696a6c;
    color: #e5e7eb;
    font-size: 18px;
    justify-content: center; 
    align-items: center; 
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    border-radius: 5pt;
    padding: 8px 32px;
    margin: 12px 0;
}

.random-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.random-info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 48px 0;
}

.random-info-content {
    display: flex;
    gap: 1.2em;
    margin-bottom: 48px;
}

.random-info-pair {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
}

.random-info-box {
    height: 160px;
    width: 160px;
    border: 4px solid #3882f6;
    border-radius: 16px;
    margin: 0 16px;
}

.random-info-subtext {
    width: 160px;
    height: auto;
    text-align: center;
    color: #696a6c;
    font-weight: 444;
    line-height: 125%;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    flex: 5;
}

.call-to-action {
    flex: 4;
}

.footer {
    background-color: #1f2937;
    flex: 1;
}

